---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const { pathname } = Astro.url;
const isHome = pathname === "/" || pathname === "";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const positionClass = isHome ? "absolute top-0 left-0 right-0" : "relative top-0";
---

<header
  class:list={[
    positionClass,
    "w-full lg:min-h-[245px] min-h-[240px] flex flex-col justify-center text-white bg-black/95 z-50",
  ]}
>
  <div class="px-4 max-w-[90%] mx-auto sm:px-8 md:ml-[60px] md:max-w-none relative">
    <h1 class="text-3xl sm:text-4xl font-display antialiased font-medium">BEHM Digital</h1>
    <p class="text-lg leading-relaxed mt-4 sm:text-xl">
      {t("header.slogan")}
    </p>
  </div>
</header>
