---
// In your layout or component
const LanguageOptions = ["fi", "en"];
---

<div
  id="langButtons"
  class="fixed bottom-4 right-4 flex gap-4 bg-black p-[0.2rem] rounded shadow-md z-[1000] transition-transform duration-300"
>
  {
    LanguageOptions.map((lang) => (
      <button
        class="p-2 text-white hover:underline"
        onclick={`
        localStorage.setItem('preferredLanguage', '${lang}');
        window.dispatchEvent(
          new CustomEvent('languageChange', { 
            detail: { lang: '${lang}' } 
          })
        );
      `}
      >
        {lang.toUpperCase()}
      </button>
    ))
  }
</div>

<script>
  let lastScrollY = 0;
  const langButtons = document.getElementById("langButtons");

  window.addEventListener(
    "scroll",
    () => {
      const currentScrollY = window.scrollY;

      if (langButtons) {
        if (currentScrollY > lastScrollY) {
          // Scrolling down
          langButtons.style.transform = "translateY(100%)";
        } else {
          // Scrolling up
          langButtons.style.transform = "translateY(0%)";
        }
      }

      lastScrollY = currentScrollY;
    },
    { passive: true },
  );
</script>
