---
const LanguageOptions = ["fi", "en"];
const { pathname } = Astro.url;
---

<div
  id="langButtons"
  class="fixed bottom-4 right-4 flex gap-4 bg-black p-[0.2rem] rounded shadow-md z-[1000]"
>
  {
    LanguageOptions.map((lang) => (
      <a
        href={`/${lang}${pathname.replace(/^\/(fi|en)/, "")}`}
        class="p-2 text-white hover:underline"
      >
        {lang.toUpperCase()}
      </a>
    ))
  }
</div>
