---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

---

<div>
  <main
    class="absolute text-white z-[1] grid grid-cols-12 pointer-events-auto top-[70vh]
          w-[100%]
          xl:w-[35%] md:top-[400px] left-[2%] right-[2%]"
  >
    <blockquote
      class="col-span-12 mb-spacing
            sm:col-span-10 sm:col-start-2
            md:col-start-1"
    >
      <div class="h-[60vh] col-span-12"></div>
      {/* spacer */}
      <h1 class="text-white lg:text-3xl md:text-base pl-4 text-xs relative w-full max-w-[800px]">
        <!--    <span
          id="animated-text"
          class="block w-full leading-none whitespace-nowrap text-sm sm:text-base md:text-lg "
        > -->
        {t("hero")}
        <!--         </span> -->
      </h1>
      <section
        class="col-span-full w-screentext-base leading-relaxed mb-spacing
              sm:col-span-10 sm:col-start-2 sm:w-full sm:px-8
              md:text-xl pt-8 pb-8"
      >
        <div class="space-y-6">
          <!--     <div class="h-[2vh] col-span-12"></div> -->
          {/* spacer */}

          <h3 class="leading-loose">{t("about.introduction.subtitle")}</h3>
          <!--        <div class="h-[2vh] col-span-12"></div> -->
          {/* spacer */}
          <p class="leading-loose">{t("about.introduction.description")}</p>
        </div>
      </section>

      <section
        class="col-span-full w-screen text-base leading-relaxed mb-spacing
              sm:col-span-10 sm:col-start-2 sm:w-full sm:px-8
              md:text-xl"
      >
        <h2 class="font-['Exo'] font-bold py-4 text-1xl px-4 sm:px-0">
          {t("contact")}
        </h2>
      </section>
      {/* spacer */}
      <div class="h-[35vh] col-span-12"></div>
    </blockquote>
  </main>
</div>

<!-- <style>
  .animate-fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s; /* Delay to sync with other animations if needed */
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style> -->
