---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Scene3D from "../scenes/ThreeScene";

---

<Layout title="Behm Digital">
  <main>
    <Scene3D client:only="react" />
  </main>
</Layout>
---
