---
import { useTranslations } from "../i18n/utils";

const t = useTranslations("services");
---

<main>
  <section
    class="col-span-12 px-4 bg-dark-bg text-base leading-relaxed mb-spacing
          sm:px-8 sm:col-span-10 sm:col-start-2
          md:text-xl"
  >
    <h2 class="font-['Exo'] font-bold py-4 text-2xl">Kuinka prosessi toimii?</h2>
    <div class="step max-w-[95%] mx-auto">
      <h3 class="font-['exo'] font-bold py-4 text-xl">Ideointi</h3>
      <p class="mb-6">
        Aloituspalaverissa käymme läpi yrityksesi viestintätyylin ja minkälaiset websivut tarvitset.
        Teemme graafisenilmeen yrityksellesi tämän perusteella.
      </p>
    </div>

    <div class="step max-w-[95%] mx-auto">
      <h3 class="font-['exo'] font-bold py-4 text-xl">Asiakaskartoitus</h3>
      <p class="mb-6">
        Kotisivuja tehdessä on tärkeää hahmottaa mikä on oleellista asiakkaan näkökulmasta.
        Esimerkiksi yhteydenotto ja varauskalenteri on hyvä olla helposti havaittavissa. Myös
        palveluiden tai informaation esilletuonti tietyssä järjestyksessä on tärkeää.
      </p>
    </div>

    <div class="step max-w-[95%] mx-auto">
      <h3 class="font-['exo'] font-bold py-4 text-xl">Suunnittelu</h3>
      <p class="mb-6">
        Teemme graafisenilmeen alkupalaverin pohjalta. Suunnittelemme myös verkkosivujen tyylin ja
        tuomme tarvittavat kuvat ja muun median tässä vaiheessa projektia.
      </p>
      <div class="step max-w-[95%] mx-auto">
        <h3 class="font-['exo'] font-bold py-4 text-xl">Suunnittelu</h3>
        <p class="mb-6">
          Teemme graafisenilmeen alkupalaverin pohjalta. Suunnittelemme myös verkkosivujen tyylin ja
          tuomme tarvittavat kuvat ja muun median tässä vaiheessa projektia.
        </p>
      </div>

      <div class="step max-w-[95%] mx-auto">
        <h3 class="font-['exo'] font-bold py-4 text-xl">Kehitys</h3>
        <p class="mb-6">
          Kehitystyö tehdään perustuen graafiseen ilmeeseen. Lisäämme myös tarvittavat lisäosat,
          kuten kalenterivaraus järjestelmän, karttaupotuksen tai tekoäly asiakaspalvelijan
          sivustolle.
        </p>
      </div>

      <div class="step max-w-[95%] mx-auto">
        <h3 class="font-['exo'] font-bold py-4 text-xl">Testaus</h3>
        <p class="mb-6">
          Testausvaiheessa varmistamme, että sivusto skaalautuu hyvin mobiililla ja tietokoneella,
          sekä tarkistamme, että yhteydenotto lomake ja vastaavat lisäosat toimivat, kuten pitää.
          Voimme myös tehdä sivustolle vielä pieniä muutoksia tarvittaessa.
        </p>
      </div>

      <div class="step max-w-[95%] mx-auto">
        <h3 class="font-['exo'] font-bold py-4 text-xl">Julkaisu</h3>
        <p class="mb-6">
          Kun olet tyytyväinen julkaisemme kotisivusi ihmisten ilmoille! Varmistamme, että kaikki on
          kohdallaan ennen julkaisua. Jos haluat kuitenkin muuttaa jotain jälkikäteen se onnistuu
          toki.
        </p>
      </div>

      <div class="step max-w-[95%] mx-auto">
        <h3 class="font-['exo'] font-bold py-4 text-xl">Ylläpito</h3>
        <p class="mb-6">
          Sivuston julkaisun jälkeen voit valita myös ylläpidon sille. Ylläpito sisältää
          serverialustan kustannukset, sekä kuukausittaiset muutokset, jos haluat vaihtaa
          esimerkiksi kuvia tai tekstiä. Voit tottakai vaihtaa kuvia tai tekstiä myös itse ja
          esimerkiksi blogi tyylinen sivusto on mahdollista toteuttaa niin, että voit lisätä
          artikkeleita ilman koodausosaamista
        </p>
      </div>
    </div>

    <section
      class="col-span-12 px-4 text-base leading-relaxed mb-spacing
          sm:px-8 sm:col-span-10 sm:col-start-2
          md:text-xl"
    >
      <h2 class="font-['Exo'] font-bold py-4 text-2xl">Ota yhteyttä jo tänään.</h2>
    </section>

    <div class="h-[80vh] col-span-12"></div>
  </section>
</main>
