---
import "@/styles/globals.css";
import Layout from "../../layouts/Layout.astro";
import Scene3D from "../../scenes/ThreeScene";
import ScrollContent from "@/components/astro/ScrollContent.astro";

export async function getStaticPaths() {
  return [
    { params: { lang: "fi" } }, // Finnish at root
    { params: { lang: "en" } }, // English at /en
  ];
}

const { lang } = Astro.params;
---

<Layout title="Behm Digital">
  <main>
    <Scene3D client:only="react" />
    <ScrollContent lang={lang} />
  </main>
</Layout>
