---
import Footer from "../components/astro/Footer.astro";
import Navigation from "../components/astro/Navigation.astro";
import Header from "../components/astro/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const isHomePage = currentPath === "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Navigation />
    <slot />
    {!isHomePage && <Footer />}
  </body>
</html>
