---
import "@/styles/globals.css";
import Footer from "../components/astro/Footer.astro";
import Navigation from "../components/astro/Navigation.astro";
import Header from "../components/astro/Header.astro";
import LangButton from "../components/astro/LangButton.astro";
import { getLangFromUrl } from "../utils/language";
import SpeedInsights from "@vercel/speed-insights/astro";
const lang = getLangFromUrl(Astro.url.pathname);

// Add this to debug
console.log("Current pathname:", Astro.url.pathname);

// Modified homepage check to handle trailing slashes
const isHomePage = ["", "/", "/en", "/en/", "/fi", "/fi/"].includes(Astro.url.pathname);
const bodyStyle = isHomePage ? {} : { backgroundColor: "hsl(0 0% 100%)" };
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Websivut yritykselle" />

    <title>{title}</title>
  </head>
  <body style={bodyStyle}>
    {isHomePage && <Header />}
    <Navigation lang={lang} />
    <slot />
    <LangButton />
    {!isHomePage && <Footer />}
    <SpeedInsights />
  </body>
</html>
